header {
  background-color: #eedae5;
  height: 100px;
}
a {
  color: white;
}
#cabeça {
  width: 100%;
}
nav {
  background-color: #eedae5;
}
nav > a {
  border: 1px dashed #eedae5;
}
nav > a:hover {
  border: 1px dashed white;
  color: white;
}
#comeco>h3{
  margin-left: 39%;
  margin-top: -8%;
  color: white;
  font-family: Apple Chancery, cursive;
  font-size: 30px;
}
#cntt {
  margin-left: 85%;
  margin-top: -2.5%;
}
#whatsapp {
  margin-right: 12%;
}
#logo {
  width: 13%;
  margin-top: -49px;
}
.iconscntt {
  width: 15%;
}
.linha {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
}

.linha > div {
  flex: 1 1 calc(20% - 10px);
  margin: 5px;
  min-width: 120px;
  max-width: 180px;
}
.insta{
  background-color: rgb(195, 43, 226);
}
.insta:hover{
  background-color: rgb(174, 43, 226);
}
.btn{
  border-radius: 7px;
}
.loja{
  width: 60%;
  margin-left: 15%;
}
#nao{
  display: none;
}
@media (max-width: 1023px) {
  #logo {
    margin-top: -10px;
  }
  .iconscntt {
    width: 20%;
    margin-top: -40px;
  }
}
@media (min-width: 770px) and (max-width: 900px) {
  .iconscntt {
    width: 30%;
    margin-top: -20px;
  }
  #logo {
    width: 16%;
    margin-top: -15px;
  }
  #comeco>h3{
    margin-left: 35%;
    margin-top: -10%;
  }
}
@media (min-width: 650px) and (max-width: 770px) {
  .iconscntt {
    width: 35%;
    margin-top: -70px;
  }
  #logo {
    width: 20%;
    margin-top: -15px;
  }
  #comeco>h3{
    margin-left: 29%;
    margin-top: -12%;
  }
}
@media (min-width: 600px) and (max-width: 650px) {
  .iconscntt {
    width: 37%;
    margin-top: -80px;
  }
  #logo {
    width: 24%;
    margin-top: -25px;
  }
  #comeco>h3{
    margin-left: 23%;
    margin-top: -14%;
  }
}
@media (min-width: 550px) and (max-width: 600px) {
  .iconscntt {
    width: 39%;
    margin-top: -50px;
  }
  #logo {
    width: 27%;
    margin-top: -30px;
  }
  #comeco>h3{
    margin-left: 33%;
    margin-top: -15%;
    font-size: larger;
  }
}
@media (min-width: 500px) and (max-width: 550px) {
  .iconscntt {
    width: 27%;
    margin-top: -50px;
  }
  #logo {
    width: 29%;
    margin-top: -30px;
  }
  #cntt {
    margin-left: 83%;
  }
  #comeco>h3{
    margin-left: 33%;
    margin-top: -15%;
    font-size: larger;
  }
}
@media (min-width: 450px) and (max-width: 500px) {
  .iconscntt {
    width: 30%;
    margin-top: -50px;
  }
  #logo {
    width: 33%;
    margin-top: -30px;
  }
  #cntt {
    margin-left: 81%;
  }
  #comeco>h3{
    margin-left: 33%;
    margin-top: -17.5%;
    font-size: larger;
  }
}
@media (min-width: 400px) and (max-width: 450px) {
  .iconscntt {
    width: 32%;
    margin-top: -70px;
  }
  #logo {
    width: 35%;
    margin-top: -27px;
  }
  #cntt {
    margin-left: 81%;
  }
  #comeco>h3{
    margin-left: 40%;
    margin-top: -23%;
    font-size: large;
  }
  #sim{
    display: none;
  }
  #nao{
    display: flex;
    text-align: center;
  }
}
@media (min-width: 350px) and (max-width: 400px) {
  .iconscntt {
    width: 34%;
    margin-top: -70px;
  }
  #logo {
    width: 37%;
    margin-top: -20px;
  }
  #cntt {
    margin-left: 81%;
  }
  #comeco>h3{
    margin-left: 39%;
    margin-top: -23%;
    font-size: large;
  }
  #sim{
    display: none;
  }
  #nao{
    display: flex;
    text-align: center;
  }
}
@media (min-width: 290px) and (max-width: 350px) {
  .iconscntt {
    width: 38%;
    margin-top: -70px;
  }
  #logo {
    width: 40%;
    margin-top: -15px;
  }
  #cntt {
    margin-left: 81%;
  }
  nav > a {
    font-size: small;
  }
  #comeco>h3{
    margin-left: 39%;
    margin-top: -23%;
    font-size: large;
  }
  #sim{
    display: none;
  }
  #nao{
    display: flex;
    text-align: center;
  }
}
@media (min-width: 260px) and (max-width: 290px) {
  .iconscntt {
    width: 31%;
    margin-top: -90px;
  }
  #logo {
    width: 45%;
    margin-top: -16px;
  }
  #cntt {
    margin-left: 72%;
  }
  nav > a {
    font-size: small;
  }
  #comeco>h3{
    margin-left: 35%;
    margin-top: -23%;
    font-size: medium;
  }
  #sim{
    display: none;
  }
  #nao{
    display: flex;
    text-align: center;
    font-size: smaller;
  }
}
@media (min-width: 230px) and (max-width: 260px) {
  .iconscntt {
    width: 31%;
    margin-top: -90px;
  }
  #logo {
    width: 45%;
    margin-top: -16px;
  }
  #cntt {
    margin-left: 72%;
  }
  nav > a {
    font-size: small;
  }
  #comeco>h3{
    margin-left: 35%;
    margin-top: -23%;
    font-size: small;
  }
  #sim{
    display: none;
  }
  #nao{
    display: flex;
    text-align: center;
    font-size: smaller;
  }
}
@media (min-width: 180px) and (max-width: 230px) {
  .iconscntt {
    width: 31%;
    margin-top: -90px;
  }
  #logo {
    width: 45%;
    margin-top: -16px;
  }
  #cntt {
    margin-left: 72%;
  }
  nav > a {
    font-size: small;
  }
  #comeco>h3{
    margin-left: 35%;
    margin-top: -23%;
    font-size: small;
  }
  #sim{
    display: none;
  }
  #nao{
    display: flex;
    text-align: center;
    font-size: smaller;
  }
}
@media (max-width: 230px) {
  .iconscntt {
    width: 31%;
    margin-top: -90px;
  }
  #logo {
    width: 45%;
    margin-top: -16px;
  }
  #cntt {
    margin-left: 72%;
  }
  nav > a {
    font-size: small;
  }
  #comeco>h3{
    margin-left: 35%;
    margin-top: -23%;
    font-size: small;
  }
  #sim{
    display: none;
  }
  #nao{
    display: flex;
    text-align: center;
    font-size: smaller;
  }
}
